version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: localoucos
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    networks:
      - app-net

  api:
    container_name: backend
    image: danieldonateli/locadora-api-backend:latest
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/localoucos
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-net

  frontend:
    image: filipemagioni/frontendlocadora:latest
    container_name: frontend
    ports:
      - "4200:4200"
    environment:
      VITE_API_URL: "http://python:8000"
    depends_on:
      - api
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  pgdata:
